* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 800px;
  height: 800px;
  font-family: sans-serif;
  line-height: 1.3em;
  margin: 5em 5em;
}

main {
  width: 800px;
  height: 800px;
  border-spacing: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

main div {
  width: 30%;
  height: 30%;
  border: 1px solid black;
  background-color: antiquewhite;
}

.field div img {
  width: 100%;
  height: 100%;
}